[flake8]
per-file-ignores =
    hooks/configuration_service.py:F401
    hooks/swagger/swagger_utils.py:F401
max-line-length = 120
ignore = E203,E741,E999, W503, E712, E711,F403
exclude = tests/*,.venv/*


[isort]
profile = black